body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; /* Remove the padding from body to fill the entire page */
    background-color: #f0f0f0; /* Set a background color for the entire page */
}

header {
    background-color: #0171DC;
    color: white;
    padding: 10px 0; /* Add vertical padding to the header */
    text-align: center; /* Center the content within the header */
}

header img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Add some spacing between the image and the title */
}

h1 {
    margin: 0;
    display: inline;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center; /* Center the form within the content area */
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    background-color: #FFC11F;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(207, 152, 11);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#generateRouteButtonContainer {
    text-align: center; /* Center the content horizontally */
    margin-top: 20px; /* Add some space between the route list and the button */
}

#generateRouteButton {
    padding: 10px 20px;
    background-color: #FFC11F;
    color: black;
    border: none;
    cursor: pointer;
}

#generateRouteButton:hover {
    background-color: rgb(207, 152, 11);
}

#routeButtons {
    text-align: center;
    margin-top: 20px;
}

#clearRouteButton {
    padding: 10px 20px;
    background-color: #E74C3C;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Add spacing between buttons */
}

#clearRouteButton:hover {
    background-color: #C0392B;
}

#routeList {
    text-align: center; /* Center the route list content */
}

#routeButtons {
    text-align: center;
    margin-top: 20px;
}

#sendSMSContainer {
    text-align: center;
    margin-top: 20px;
}

#sendSMSButton {
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    border: none;
    cursor: pointer;
}

#sendSMSButton:hover {
    background-color: #2980B9;
}

/* Mobile Devices */

/* Styles for screens up to 480px wide (typical mobile screens) */

@media (min-width: 480px) {

    header img {
        width: 250px;
    }

    h1 {
        font-size: 3em;
    }

    form {
        margin-bottom: 10px;
    }

    input, button {
        padding: 8px;
        font-size: 50px;
        margin: 5px auto; /* Center the elements horizontally */
        display: block; /* Display the elements as blocks */
    }

    h1, h2 {
        font-size: 70px; /* Adjust the font size for h2 */
    }

    label{
        font-size: 3em;
    }

    #clearRouteButton {
        padding: 8px 10px; /* Adjust padding for mobile */
        font-size: 3em; /* Adjust font size for mobile */
        margin-left: 40%;
        margin-top: 60px;
    }

    #sendSMSButton{
        margin-top: 60px;
    }

    ul{
        font-size: 40px;
        background-color: gray;
        color: white;
        margin-left: 150px;
        margin-right: 150px;
    }
}

/* Styles for larger screens (greater than 480px) */